body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.4rem;
}

.page {
    background: url(isaac-smith-6EnTPvPPL6I-unsplash.png) no-repeat;
    background-size: 110%;
    height: 150vh;
    background-position: -130px 0px;
    background-attachment: fixed;
}

.page .hero-headline {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 2px;
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
h1 {
    color: white;
    font-size: 70px;
    width: 900px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 885px;
    text-align: center;
}

h3 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    width: 885px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px
}

.buttons button,
.buttons label {
    height: 50px;
    line-height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background: dodgerblue;
    outline: none;
    cursor: pointer;
    border: 0px solid rgb(42, 135, 192);
    border-radius: 15px;
    opacity: 1;
    transition: .4s;
    text-align: center;
}

.buttons .btn2 {
    margin-left: 25px;
}

.buttons .btn4 {
    background: rgb(61, 61, 61);
}

.buttons .btn4:hover {
    background: black
}

.buttons button:hover,
.buttons label:hover {
    background: rgb(0, 128, 255);
}

input[type=text] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: rgb(190, 223, 255);
    border-radius: 4px;
    opacity: 0.7;
    border: 0px;
    color: rgb(0, 0, 0);
    resize: vertical;
}

input[type=color] {
    width: 10%;
    padding: 3px;
    margin: 12px 0;
    border: none;
}

input[type=text]:focus {
    opacity: 1;
}

.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px 20px 20px;
    /* flex-flow: column wrap;
align-content: flex-start; */
}

.container label {
    padding: 15px 5px 5px 0;
    display: inline-block;
}

.container .check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 10;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(190, 223, 255);
    opacity: 0.7;
    border-radius: 3px;
}


/* On mouse-over, add a grey background color */

.check:hover input~.checkmark {
    opacity: 1;
}


/* When the checkbox is checked, add a blue background */

.check input:checked~.checkmark {
    background-color: dodgerblue;
}

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    height: 25px;
    /* Specified height */
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: rgb(190, 223, 255);
    border-radius: 4px;
    opacity: 0.7;
    border: 0px;
    resize: vertical;
}


/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: dodgerblue;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 3px;
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: dodgerblue;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.select-css {
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 1;
    padding: 0.6em 1em .5em .8em;
    width: 100%;
    max-width: 100%;
    /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0.6em 0.5em;
    border: 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(190, 223, 255);
    border-radius: 4px;
    opacity: 0.7;
}

.select-css:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}