body {
    background: url(background_img.jpg);
    background-size: cover;
    font-size: 18px;
}

.headline {
    box-sizing: border-box;
    font-size: 5rem;
    padding: 20px;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
h1 {
    color: white;
    font-size: 70px;
    width: 900px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 885px;
    text-align: center;
}

h3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    width: 885px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px
}

.buttons, .uploadbutton {
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px
}

.buttons button, .buttons label, .uploadbutton label {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    width: 150px;
    color: #ffffff;
    background: dodgerblue;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    opacity: 1;
    transition: .4s;
    text-align: center;
}

.buttons .btn2 {
    margin-left: 25px;
}

.buttons .btn4, .buttons .btn5 {
    background: rgb(61, 61, 61);
    width: 150px;
}

.buttons .btn5 {
    width: 150px;
    margin-left: 25px;
}

.buttons .btn4:hover, .buttons .btn5:hover {
    background: black
}

.uploadbutton label {
    background: rgb(231, 130, 15);
    width: 200px;
}

.upload2 label {
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 180px;
    color: #ffffff;
    background: rgb(231, 130, 15);
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    opacity: 1;
    transition: .4s;
}

.uploadname label {
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background: transparent;
    outline: none;
}

.invalid-feedback .nofile {
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background: transparent;
    outline: none;
}

.buttons button:hover, .buttons label:hover {
    background: rgb(0, 128, 255);
}

.uploadbutton label:hover, .upload2 label:hover {
    background: rgb(212, 106, 0);
}

input[type=text] {
    border: none;
    background-color: rgb(215, 236, 255);
    border-radius: 4px;
    opacity: 0.7;
}

.plotdata input[type=text] {
    border: none;
    background-color: rgb(255, 196, 108);
    border-radius: 4px;
    opacity: 1;
}

.plotdata .errortext input[type=text] {
    border: none;
    background-color: rgb(250, 173, 58);
    border-radius: 4px;
    opacity: 1;
}

input[type=color] {
    width: 100%;
    border: none;
}

.plotdata label {
    font-weight: 600;
    color: #ffffff;
}

input[type=number] {
    background-color: rgb(215, 236, 255);
    border-radius: 4px;
    border: none;
    opacity: 0.7;
}

.form-select {
    background-color: rgb(215, 236, 255);
    border: none;
    opacity: 0.7;
}

.container {
    padding: 20px;
    background-color: #fffffffd;
    border-radius: 10px;
}

.slider {
    appearance: none;
    height: 25px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: rgb(215, 236, 255);
    border-radius: 4px;
    opacity: 0.7;
    border: 0px;
    resize: vertical;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: dodgerblue;
    cursor: pointer;
    border-radius: 3px;
}

.form-check-input {
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    padding-right: 20px;
    background-color: rgb(215, 236, 255);
    opacity: 0.7;
    border-radius: 3px;
    border: none;
}

.form-check-input input:checked~.checkmark {
    background-color: dodgerblue;
}

input[type=text]:focus, input[type=text]:hover, input[type=number]:hover, .slider:hover, .form-select:hover, .form-check-input:hover {
    opacity: 1;
}

.pt-3-half {
    padding-top: 1.4rem;
}